.profile__profile-info-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 16px;
}

@media screen and (max-width: 1070px) {
    .profile__profile-info-text {
        align-items: center;
        margin-top: 0;
    }
}