@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__profile-info/profile__profile-info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__profile-info-text/profile__profile-info-text.css);
@import url(../blocks/profile/__profile-info-name/profile__profile-info-name.css);
@import url(../blocks/profile/__author/profile__author.css);
@import url(../blocks/profile/__stilus/profile__stilus.css);
@import url(../blocks/profile/__about-the-author/profile__about-the-author.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__trash-button/card__trash-button.css);
@import url(../blocks/card/__mask-group/card__mask-group.css);
@import url(../blocks/card/__text-button/card__text-button.css);
@import url(../blocks/card/__text/card__text.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__like-button/_active/card__like-button_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/_dark/popup_dark.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__heading-form/popup__heading-form.css);
@import url(../blocks/popup/__form-input-container/popup__form-input-container.css);
@import url(../blocks/popup/__item/popup__item.css);
@import url(../blocks/popup/__item/_input-error/popup__item_input-error.css);
@import url(../blocks/popup/__item-error/popup__item-error.css);
@import url(../blocks/popup/__item-error/_active/popup__item-error_active.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__submit-button/_inactive/popup__submit-button_inactive.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__container-card-opened/popup__container-card-opened.css);
@import url(../blocks/popup/__image-text-card/popup__image-text-card.css);
@import url(../blocks/popup/__image-text/popup__image-text.css);
@import url(../blocks/popup/__image/popup__image.css);

