.popup__close-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: opacity 0.4s;   
}

.popup__close-icon:hover {
    opacity: 60%;    
}

@media screen and (max-width: 1279px) {
    .popup__close-icon  {
        width: 20px;
        height: 20px;       
    }
}