.card__rectangle {
    display: block;
    box-sizing: border-box;  
    height: 79px;
    background-color: #FFFFFF;    
    border-radius: 0 0 10px 10px; 
    padding-left: 21px;
    padding-right: 15px;      
}